<!DOCTYPE html>
<html>
  <head>
    <title>SlackProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.logo= "<%= image_url('slack-nav-logo.png') %>";
      window.logoSymbol= "<%= image_url('logo.png') %>";
      window.github="<%= image_url('github.png')%>";
      window.linked="<%=image_url('linkedin.png')%>";
      window.example="<%=image_url('example.png')%>";
      window.slackgif="<%=image_url('slack-gif-homepage.gif')%>";
      window.frontendpics="<%=image_url('frontend-pics.png')%>";
      window.infoicon="<%=image_url('info-icon.png')%>";
      window.addMemberIcon="<%=image_url('add-member-icon.png')%>";
      window.MemberIcon="<%=image_url('member-icon.png')%>";
      window.Logout="<%=image_url('log-out.png')%>";
      window.SearchIcon="<%=image_url('search.png')%>";
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
