<!DOCTYPE html>
<html>
  <head>
    <title>SlackProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.logo= "<%= image_url('slack-nav-logo.png') %>";
      window.logoSymbol= "<%= image_url('logo.png') %>";
      window.github="<%= image_url('github.png')%>";
      window.linked="<%=image_url('linkedin.png')%>";
      window.example="<%=image_url('example.png')%>";
      window.slackgif="<%=image_url('slack-gif-homepage.gif')%>";
      window.frontendpics="<%=image_url('frontend-pics.png')%>";
    </script>
        
  </head>

  <body>
    <%= yield %>
  </body>
</html>
